<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>input</key>
	<dict>
		<key>inputs</key>
		<string>96, 96, 3</string>
		<key>targets</key>
		<string>mean</string>
		<key>type</key>
		<string>input</string>
	</dict>
	<key>mean</key>
	<dict>
		<key>type</key>
		<string>arithmetic</string>
		<key>arithmetic</key>
		<string>subtract</string>
		<key>secondary_image</key>
		<string>mean96.png</string>
		<key>inputs</key>
		<string>96, 96, 3</string>
		<key>targets</key>
		<string>std</string>
		<key>indices</key>
		<string>0</string>
	</dict>
	<key>std</key>
	<dict>
		<key>type</key>
		<string>arithmetic</string>
		<key>arithmetic</key>
		<string>divide</string>
		<key>inputs</key>
		<string>96, 96, 3</string>
		<key>secondary_image</key>
		<string>std96.png</string>
		<key>targets</key>
		<string>conv0</string>
		<key>indices</key>
		<string>0</string>
	</dict>
	<key>conv0</key>
	<dict>
		<key>inputs</key>
		<string>96, 96, 3</string>
		<key>kernel</key>
		<string>5</string>
		<key>filters</key>
		<string>16</string>
		<key>stride</key>
		<string>2</string>
		<key>weight</key>
		<string>conv_0</string>
		<key>activation</key>
		<string>relu</string>
		<key>targets</key>
		<string>block_0</string>
		<key>indices</key>
		<string>0</string>
	</dict>
	<key>block_0</key>
	<dict>
		<key>type</key>
		<string>inverted_residual</string>
		<key>inputs</key>
		<string>48, 48, 16</string>
		<key>expansion</key>
		<string>6</string>
		<key>kernel</key>
		<string>3</string>
		<key>filters</key>
		<string>16</string>
		<key>stride</key>
		<string>1</string>
		<key>targets</key>
		<string>block_1</string>
		<key>weights</key>
		<string>block_0_expand, block_0_depthwise, block_0_project</string>
	</dict>
	<key>block_1</key>
	<dict>
		<key>type</key>
		<string>inverted_residual</string>
		<key>inputs</key>
		<string>48, 48, 16</string>
		<key>expansion</key>
		<string>6</string>
		<key>kernel</key>
		<string>3</string>
		<key>filters</key>
		<string>32</string>
		<key>stride</key>
		<string>2</string>
		<key>targets</key>
		<string>block_2</string>
		<key>weights</key>
		<string>block_1_expand, block_1_depthwise, block_1_project</string>
	</dict>
	<key>block_2</key>
	<dict>
		<key>type</key>
		<string>inverted_residual</string>
		<key>inputs</key>
		<string>24,24,32</string>
		<key>expansion</key>
		<string>6</string>
		<key>kernel</key>
		<string>3</string>
		<key>filters</key>
		<string>32</string>
		<key>stride</key>
		<string>1</string>
		<key>targets</key>
		<string>block_3</string>
		<key>weights</key>
		<string>block_2_expand, block_2_depthwise, block_2_project</string>
	</dict>
	<key>block_3</key>
	<dict>
		<key>type</key>
		<string>inverted_residual</string>
		<key>inputs</key>
		<string>24,24,32</string>
		<key>expansion</key>
		<string>6</string>
		<key>kernel</key>
		<string>3</string>
		<key>filters</key>
		<string>64</string>
		<key>stride</key>
		<string>2</string>
		<key>targets</key>
		<string>block_4</string>
		<key>weights</key>
		<string>block_3_expand, block_3_depthwise, block_3_project</string>
	</dict>
	<key>block_4</key>
	<dict>
		<key>type</key>
		<string>inverted_residual</string>
		<key>inputs</key>
		<string>12,12,64</string>
		<key>expansion</key>
		<string>6</string>
		<key>kernel</key>
		<string>3</string>
		<key>filters</key>
		<string>64</string>
		<key>stride</key>
		<string>1</string>
		<key>targets</key>
		<string>block_5</string>
		<key>weights</key>
		<string>block_4_expand, block_4_depthwise, block_4_project</string>
	</dict>
	<key>block_5</key>
	<dict>
		<key>type</key>
		<string>inverted_residual</string>
		<key>inputs</key>
		<string>12,12,64</string>
		<key>expansion</key>
		<string>6</string>
		<key>kernel</key>
		<string>3</string>
		<key>filters</key>
		<string>128</string>
		<key>stride</key>
		<string>2</string>
		<key>targets</key>
		<string>block_6</string>
		<key>weights</key>
		<string>block_5_expand, block_5_depthwise, block_5_project</string>
	</dict>
	<key>block_6</key>
	<dict>
		<key>type</key>
		<string>inverted_residual</string>
		<key>inputs</key>
		<string>6,6,128</string>
		<key>expansion</key>
		<string>6</string>
		<key>kernel</key>
		<string>3</string>
		<key>filters</key>
		<string>128</string>
		<key>stride</key>
		<string>1</string>
		<key>targets</key>
		<string>max_pool</string>
		<key>weights</key>
		<string>block_6_expand, block_6_depthwise, block_6_project</string>
	</dict>
	<key>max_pool</key>
	<dict>
		<key>type</key>
		<string>pooling_max</string>
		<key>inputs</key>
		<string>6,6,128</string>
		<key>output</key>
		<string>1, 1,  128</string>
		<key>kernel</key>
		<string>6</string>
		<key>stride</key>
		<string>6</string>
		<key>targets</key>
		<string>dense_expand</string>
		<key>indices</key>
		<string>0</string>
	</dict>
	<key>dense_expand</key>
	<dict>
		<key>type</key>
		<string>dense</string>
		<key>inputs</key>
		<string>1, 1,  128</string>
		<key>filters</key>
		<string>512</string>
		<key>weights</key>
		<string>dense_expand</string>
		<key>targets</key>
		<string>dense</string>
		<key>activation</key>
		<string>relu</string>
	</dict>
	<key>dense</key>
	<dict>
		<key>type</key>
		<string>dense</string>
		<key>inputs</key>
		<string>1, 1,  512</string>
		<key>filters</key>
		<string>136</string>
		<key>weights</key>
		<string>dense</string>
		<key>targets</key>
		<string>output</string>
	</dict>
	<key>output</key>
	<dict>
		<key>inputs</key>
		<string>1, 1, 136</string>
		<key>type</key>
		<string>output</string>
	</dict>
</dict>
</plist>
