<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classes</key>
	<string>background, face</string>
	<key>coords</key>
	<string>centroids</string>
	<key>network_size</key>
	<string>160,160</string>
	<key>n_pyramid_layers</key>
	<string>2</string>
	<key>feature_map_sizes</key>
	<array>
		<string>10,10</string>
		<string>5,5</string>
	</array>
	<key>scales</key>
	<string>0.25, 0.50, 1.00</string>
	<key>location_shapes</key>
	<string>1, 4, 400;  1, 4, 100;</string>
	<key>confidence_shapes</key>
	<string>1, 2, 400; 1, 2, 100; </string>
	<key>aspect_ratios</key>
	<array>
		<string>0.90, 1.0, 1.11</string>
		<string>0.90, 1.0, 1.11</string>
	</array>
	<key>two_boxes_for_ar1</key>
	<true/>
	<key>normalize_coords</key>
	<true/>
	<key>clip_boxes</key>
	<false/>
	<key>confidence_thresh</key>
	<string>0.99</string>
	<key>iou_thresh</key>
	<string>0.15</string>
	<key>variances</key>
	<string>0.1, 0.1, 0.2, 0.2</string>
</dict>
</plist>
