<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>input</key>
	<dict>
		<key>inputs</key>
		<string>160, 160, 3</string>
		<key>targets</key>
		<string>preprocess</string>
		<key>type</key>
		<string>input</string>
	</dict>
	<key>preprocess</key>
	<dict>
		<key>type</key>
		<string>neuron</string>
		<key>inputs</key>
		<string>160, 160, 3</string>
		<key>activation</key>
		<string>linear, 2.0, -1.0</string>
		<key>targets</key>
		<string>conv0</string>
		<key>indices</key>
		<string>0</string>
	</dict>
	<key>conv0</key>
	<dict>
		<key>inputs</key>
		<string>160, 160, 3</string>
		<key>kernel</key>
		<string>5</string>
		<key>filters</key>
		<string>16</string>
		<key>stride</key>
		<string>2</string>
		<key>weight</key>
		<string>conv_0</string>
		<key>activation</key>
		<string>relu</string>
		<key>targets</key>
		<string>block_0</string>
		<key>indices</key>
		<string>0</string>
	</dict>
	<key>block_0</key>
	<dict>
		<key>type</key>
		<string>inverted_residual</string>
		<key>inputs</key>
		<string>80, 80, 16</string>
		<key>expansion</key>
		<string>6</string>
		<key>filters</key>
		<string>16</string>
		<key>stride</key>
		<string>1</string>
		<key>targets</key>
		<string>block_1</string>
		<key>weights</key>
		<string>block_0_expand, block_0_depthwise, block_0_project</string>
	</dict>
	<key>block_1</key>
	<dict>
		<key>type</key>
		<string>inverted_residual</string>
		<key>inputs</key>
		<string>80, 80, 16</string>
		<key>expansion</key>
		<string>6</string>
		<key>filters</key>
		<string>24</string>
		<key>stride</key>
		<string>2</string>
		<key>targets</key>
		<string>block_2</string>
		<key>weights</key>
		<string>block_1_expand, block_1_depthwise, block_1_project</string>
	</dict>
	<key>block_2</key>
	<dict>
		<key>type</key>
		<string>inverted_residual</string>
		<key>inputs</key>
		<string>40,40,24</string>
		<key>expansion</key>
		<string>6</string>
		<key>filters</key>
		<string>24</string>
		<key>stride</key>
		<string>1</string>
		<key>targets</key>
		<string>block_3</string>
		<key>weights</key>
		<string>block_2_expand, block_2_depthwise, block_2_project</string>
	</dict>
	<key>block_3</key>
	<dict>
		<key>type</key>
		<string>inverted_residual</string>
		<key>inputs</key>
		<string>40,40,24</string>
		<key>expansion</key>
		<string>6</string>
		<key>filters</key>
		<string>32</string>
		<key>stride</key>
		<string>2</string>
		<key>targets</key>
		<string>block_4</string>
		<key>weights</key>
		<string>block_3_expand, block_3_depthwise, block_3_project</string>
	</dict>
	<key>block_4</key>
	<dict>
		<key>type</key>
		<string>inverted_residual</string>
		<key>inputs</key>
		<string>20,20,32</string>
		<key>expansion</key>
		<string>6</string>
		<key>filters</key>
		<string>32</string>
		<key>stride</key>
		<string>1</string>
		<key>targets</key>
		<string>block_5, loc0, conf0</string>
		<key>weights</key>
		<string>block_4_expand, block_4_depthwise, block_4_project</string>
	</dict>
	<key>block_5</key>
	<dict>
		<key>type</key>
		<string>inverted_residual</string>
		<key>inputs</key>
		<string>20,20,32</string>
		<key>expansion</key>
		<string>6</string>
		<key>filters</key>
		<string>24</string>
		<key>stride</key>
		<string>2</string>
		<key>targets</key>
		<string>block_6</string>
		<key>weights</key>
		<string>block_5_expand, block_5_depthwise, block_5_project</string>
	</dict>
	<key>block_6</key>
	<dict>
		<key>type</key>
		<string>inverted_residual</string>
		<key>inputs</key>
		<string>10,10,24</string>
		<key>expansion</key>
		<string>6</string>
		<key>filters</key>
		<string>24</string>
		<key>stride</key>
		<string>1</string>
		<key>targets</key>
		<string>block_7, loc1, conf1</string>
		<key>weights</key>
		<string>block_6_expand, block_6_depthwise, block_6_project</string>
	</dict>
	<key>block_7</key>
	<dict>
		<key>type</key>
		<string>inverted_residual</string>
		<key>inputs</key>
		<string>10,10,24</string>
		<key>expansion</key>
		<string>6</string>
		<key>filters</key>
		<string>16</string>
		<key>stride</key>
		<string>2</string>
		<key>targets</key>
		<string>block_8</string>
		<key>weights</key>
		<string>block_7_expand, block_7_depthwise, block_7_project</string>
	</dict>
	<key>block_8</key>
	<dict>
		<key>type</key>
		<string>inverted_residual</string>
		<key>inputs</key>
		<string>5,5,16</string>
		<key>expansion</key>
		<string>6</string>
		<key>filters</key>
		<string>16</string>
		<key>stride</key>
		<string>1</string>
		<key>targets</key>
		<string>loc2, conf2,</string>
		<key>weights</key>
		<string>block_8_expand, block_8_depthwise, block_8_project</string>
	</dict>
	<key>loc0</key>
	<dict>
		<key>inputs</key>
		<string>20,20,32</string>
		<key>kernel</key>
		<string>3</string>
		<key>filters</key>
		<string>24</string>
		<key>stride</key>
		<string>1</string>
		<key>depthwise</key>
		<false/>
		<key>weight</key>
		<string>loc0</string>
		<key>activation</key>
		<string>none</string>
		<key>targets</key>
		<string>reshape_loc0</string>
	</dict>
	<key>loc1</key>
	<dict>
		<key>inputs</key>
		<string>10,10,24</string>
		<key>kernel</key>
		<string>3</string>
		<key>filters</key>
		<string>24</string>
		<key>stride</key>
		<string>1</string>
		<key>depthwise</key>
		<false/>
		<key>weight</key>
		<string>loc1</string>
		<key>activation</key>
		<string>none</string>
		<key>targets</key>
		<string>reshape_loc1</string>
	</dict>
	<key>loc2</key>
	<dict>
		<key>inputs</key>
		<string>5,5,16</string>
		<key>kernel</key>
		<string>3</string>
		<key>filters</key>
		<string>24</string>
		<key>stride</key>
		<string>1</string>
		<key>depthwise</key>
		<false/>
		<key>weight</key>
		<string>loc2</string>
		<key>activation</key>
		<string>none</string>
		<key>targets</key>
		<string>reshape_loc2</string>
	</dict>
	<key>conf0</key>
	<dict>
		<key>inputs</key>
		<string>20,20,32</string>
		<key>kernel</key>
		<string>3</string>
		<key>filters</key>
		<string>12</string>
		<key>stride</key>
		<string>1</string>
		<key>depthwise</key>
		<false/>
		<key>weight</key>
		<string>conf0</string>
		<key>activation</key>
		<string>none</string>
		<key>targets</key>
		<string>reshape_conf0</string>
	</dict>
	<key>conf1</key>
	<dict>
		<key>inputs</key>
		<string>10,10,24</string>
		<key>kernel</key>
		<string>3</string>
		<key>filters</key>
		<string>12</string>
		<key>stride</key>
		<string>1</string>
		<key>depthwise</key>
		<false/>
		<key>weight</key>
		<string>conf1</string>
		<key>activation</key>
		<string>none</string>
		<key>targets</key>
		<string>reshape_conf1</string>
	</dict>
	<key>conf2</key>
	<dict>
		<key>inputs</key>
		<string>5,5,16</string>
		<key>kernel</key>
		<string>3</string>
		<key>filters</key>
		<string>12</string>
		<key>stride</key>
		<string>1</string>
		<key>depthwise</key>
		<false/>
		<key>weight</key>
		<string>conf2</string>
		<key>activation</key>
		<string>none</string>
		<key>targets</key>
		<string>reshape_conf2</string>
	</dict>
	<key>reshape_loc0</key>
	<dict>
		<key>type</key>
		<string>reshape</string>
		<key>inputs</key>
		<string>20,20,24</string>
		<key>output</key>
		<string>1, 4,  2400</string>
		<key>targets</key>
		<string>concatenate_loc</string>
		<key>indices</key>
		<string>0</string>
	</dict>
	<key>reshape_loc1</key>
	<dict>
		<key>type</key>
		<string>reshape</string>
		<key>inputs</key>
		<string>10,10,24</string>
		<key>output</key>
		<string>1, 4, 600</string>
		<key>targets</key>
		<string>concatenate_loc</string>
		<key>indices</key>
		<string>1</string>
	</dict>
	<key>reshape_loc2</key>
	<dict>
		<key>inputs</key>
		<string>5,5,24</string>
		<key>output</key>
		<string>1, 4, 150</string>
		<key>type</key>
		<string>reshape</string>
		<key>targets</key>
		<string>concatenate_loc</string>
		<key>indices</key>
		<string>2</string>
	</dict>
	<key>reshape_conf0</key>
	<dict>
		<key>inputs</key>
		<string>20, 20, 12</string>
		<key>output</key>
		<string>1, 2, 2400</string>
		<key>type</key>
		<string>reshape</string>
		<key>targets</key>
		<string>concatenate_conf</string>
		<key>indices</key>
		<string>0</string>
	</dict>
	<key>reshape_conf1</key>
	<dict>
		<key>inputs</key>
		<string>10,10,12</string>
		<key>output</key>
		<string>1, 2, 600</string>
		<key>type</key>
		<string>reshape</string>
		<key>targets</key>
		<string>concatenate_conf</string>
		<key>indices</key>
		<string>1</string>
	</dict>
	<key>reshape_conf2</key>
	<dict>
		<key>inputs</key>
		<string>5, 5, 12</string>
		<key>output</key>
		<string>1, 2, 150</string>
		<key>type</key>
		<string>reshape</string>
		<key>targets</key>
		<string>concatenate_conf</string>
		<key>indices</key>
		<string>2</string>
	</dict>
	<key>concatenate_loc</key>
	<dict>
		<key>inputs</key>
		<string>1, 4, 2400; 1, 4, 600;  1, 4, 150;</string>
		<key>type</key>
		<string>concatenate</string>
		<key>targets</key>
		<string>output_loc</string>
	</dict>
	<key>concatenate_conf</key>
	<dict>
		<key>inputs</key>
		<string>1, 2, 2400; 1, 2, 600;  1, 2, 150;</string>
		<key>type</key>
		<string>concatenate</string>
		<key>targets</key>
		<string>output_conf</string>
	</dict>
	<key>output_loc</key>
	<dict>
		<key>inputs</key>
		<string>1, 4, 3152</string>
		<key>type</key>
		<string>output</string>
	</dict>
	<key>output_conf</key>
	<dict>
		<key>inputs</key>
		<string>1, 2, 3152</string>
		<key>type</key>
		<string>output</string>
	</dict>
</dict>
</plist>
