<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classes</key>
	<string>background, face</string>
	<key>coords</key>
	<string>centroids</string>
	<key>network_size</key>
	<string>224, 224</string>
	<key>n_pyramid_layers</key>
	<string>3</string>
	<key>feature_map_sizes</key>
	<array>
		<string>28, 28</string>
		<string>14, 14</string>
		<string>7, 7</string>
	</array>
	<key>scales</key>
	<string>0.20, 0.34, 0.58, 0.99</string>
	<key>location_shapes</key>
	<string>1, 4, 4704; 1, 4, 1176;  1, 4, 294;</string>
	<key>confidence_shapes</key>
	<string>1, 2, 4704; 1, 2, 1176;  1, 2, 294;</string>
	<key>aspect_ratios</key>
	<array>
		<string>0.5, 0.7, 1.0, 1.4, 2.0</string>
		<string>0.5, 0.7, 1.0, 1.4, 2.0</string>
		<string>0.5, 0.7, 1.0, 1.4, 2.0</string>
	</array>
	<key>two_boxes_for_ar1</key>
	<true/>
	<key>normalize_coords</key>
	<true/>
	<key>clip_boxes</key>
	<false/>
	<key>confidence_thresh</key>
	<string>0.85</string>
	<key>iou_thresh</key>
	<string>0.1</string>
	<key>variances</key>
	<string>0.1, 0.1, 0.2, 0.2</string>
</dict>
</plist>
